# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry
ansible.cfg
.ansible/
/site/
.vault_pass

# Golang
/bin/
/pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# GoLand IDE
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
