---
## Confluent Platform Version
confluent_package_version: "8.1.1"

## KRaft mode
kafka_controller_enabled: true

## Installation method
installation_method: package

## JMX Configuration
kafka_broker_jmxremote_port: 9999
kafka_controller_jmxremote_port: 9998

## Kafka Broker Custom Properties
kafka_broker_custom_properties:
  default.replication.factor: 3
  min.insync.replicas: 2
  num.partitions: 3
  log.retention.hours: 168
  auto.create.topics.enable: false

## Data directories
kafka_broker_log_dir: /var/lib/kafka/data
kafka_controller_log_dir: /var/lib/kafka-controller/data

## Health Checks
health_checks_enabled: true

## Python Interpreter
ansible_python_interpreter: /usr/bin/python3