---
- name: Pre-setup configuration for all nodes
  hosts: all
  become: true
  tasks:
    - name: Configure needrestart for automatic mode
      copy:
        content: '$nrconf{restart} = "a";'
        dest: /etc/needrestart/conf.d/auto.conf
        mode: '0644'
      ignore_errors: true

    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600
